<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <style>
    body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }
  </style>
  

</head>

<body>
   <a-scene>

     <a-light color="#da47da" position="0 0 0" type="ambient"></a-light>
      <a-entity light="type: point; color: #EEE; intensity: 0.5" position="0 3 0"></a-entity>
     <a-entity position="8 2 8" rotation="0 0 0">
    	 <a-entity camera look-controls wasd-controls>

			<a-entity cursor="fuse: true; fuseTimeout: 500"

            position="0 0 -2"

            geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.027"

            material="color: black; shader: flat"

  			</a-entity>

    	</a-entity>
     </a-entity>
    	
      <!-- Sky -->
      <a-sky color="#137c85"></a-sky>
  </a-scene>
  
  <script>
    // fake data
    var data = [ 10, 20, 30, 40, 50, 60, 70 ,80, 90]

	
    var company = [ 'Dell', 'HP', 'Lenovo', 'Samsung', 'SAP', 'Oracle', 'Microsoft', 'Apple', 'Google', 'Amazon']


    
    var hscale = d3.scale.linear()
      .domain([0, d3.max(data)])
      .range([0,5])
    
    var scene = d3.select("a-scene");
    
    var box = scene.selectAll("a-box.bar")
      .data(data)
    box.enter().append("a-box").classed("bar", true)
    $( ".bar" ).append( "<a-text> </a-text>" );
    box.attr({
      position: function(d,i) {
        var radius = 10;
        var theta = (i/data.length) * (2 * Math.PI)
        var x = radius * Math.cos(theta);
        var y = hscale(d)/2;
        var z = radius * Math.sin(theta);
        return x + " " + y + " " + z
      },
      rotation: function(d,i) {
        var x = 0;
        var y = -360 * i/data.length;
        var z = 0;
        return x + " " + y + " " + z
      },
      height: function(d,i) {
        return hscale(d)
      }
	 
   })
   
   .on("click", function(d,i) {

      d3.select(this).select("a-text")

      .attr({

	        	'color':'hsla(240, 100%, 25%, 0.6)',

	        	'align':'center',

	        	'position':'0 '+ (hscale(d)/2+.5) + ' 0',

	        	'scale':'1 1 1',

	        	'value': company[i]+', '+d

      })

    })


  </script>
  
  
</body>




 