{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
		<div class="row">
			<div class="title_sec">
				<h1 style="margin-left: -108px;">Portfolio Optimization</h1>
			</div>		
			<div>
				<div class="sngl_blg">
					<div style="background: #E6F0F3;padding-top: 7px;padding-bottom: 7px;">
						<h2 style="margin-left: 460px;background: 0000;">Portfolio 1</h2>
					</div>
					<div>
						<table width="100%" cellspacing="1" cellpadding="1">
							<tbody>
							<tr>
    							<button id="loadData" onclick="window.location.href='/screener/downloadPortfolioPDF/';return false;" target="_blank" style="margin-top: 48px;background-color: #4CAF50; border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;border-radius: 12px;">Download PDF</button>
							</tr>
							<tr>
								<div id="resultheatmap">{{data|safe|escape}} </div>
							</tr>
							<tr>
								<div id="resultcorrheatmap">{{result_corr_HTML|safe|escape}} </div>
							</tr>
							<tr>
								<div id="resultcorrheatmap">{{result_riskreturn_HTML|safe|escape}} </div>
							</tr>
							<tr>
								<div id="resultcorrheatmap">{{result_violin_HTML|safe|escape}} </div>
							</tr>
							
							</tbody>
						</table>
					</div>
				</div>	
				
				<div class="sngl_blg">
					<div style="background: #E6F0F3;padding-top: 7px;padding-bottom: 7px;padding-left: 15px;">
						<h2 style="margin-left: 460px;background: 0000;">Portfolio info</h2>
					</div>
					<div>
						<div>

							<div id="screener-content">
								<table border="0" width="100%" cellspacing="0" cellpadding="0" style="background-color: white;">
									<tbody>
									<tr>
										<td width="100%"></td>
									</tr>
									<tr>
										<td style="background-color: white !important;">
											<table border="0" width="100%" cellspacing="1" cellpadding="3">
												<tbody>
												<tr style=" border: 1px solid black;"><strong>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">No.</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Ticker</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Company</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Industry</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Country</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Market Cap</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Trailing P/E</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Forward P/E</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Beta</td>
																										<td style="padding-left: 16px;border: 1px solid black; width:10px">52 Weeek Change</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Avg. Volume 3 Month</td>
												</tr>
												
												<tr style="border: 1px solid black;">
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">1</td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;"><a  href="/indices/nift100Indices/{{fd.Ticker}}/2017/1/1/2018/5/5/" target="_blank">{{fd.Ticker}}</a></td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">as</td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">qwe</td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">INDIA</td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">adas</td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">asdas</td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">asdasd</td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">asdas</td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">asdas</td>
													<td style="padding-left: 16px;border: 1px solid black;background-color: white;">asda</td>
												</tr>
												
                                        </td>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
        								<td>
        								
        								</td>
        							</tr>
									</tbody>
								</table>
						</div>
					</div>
				</div>				

				<div class="sngl_blg">						

				</div>
            </div>
		</div>
<!-- start Blog Section -->


<!-- End located map  Section -->
<!-- start footer Section -->
		 <footer id="ft_sec" style="background-color:#224B59;margin-top:100px;">
			 <div class="container" style="background-color:#f5f5f5;padding-top: 30px;">
				 <div class="row">
					 <div class="col-lg-12" style="background-color:#f5f5f5">
						 <div class="ft">
							 <ul>
								 <li><a href=""><i class="fa fa-facebook"></i></a></li>
								 <li><a href=""><i class="fa fa-twitter"></i></a></li>
								 <li><a href=""><i class="fa fa-dribbble"></i></a></li>
								 <li><a href=""><i class="fa fa-rss"></i></a></li>
								 <li><a href=""><i class="fa fa-flickr"></i></a></li>
								 <li><a href=""><i class="fa fa-pinterest"></i></a></li>
								 <li><a href=""><i class="fa fa-linkedin"></i></a></li>
								 <li><a href=""><i class="fa fa-skype"></i></a></li>
								 <li><a href=""><i class="fa fa-google"></i></a></li>
							 </ul>
						 </div>
						 <ul class="copy_right">
							 <li>@WealthView</li>

						 </ul>
					 </div>
				 </div>
			 </div>
		 </footer>
<!-- End footer Section -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<script src="/static/js/isotope.pkgd.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/scrolling-nav.js"></script>
<script src="/static/js/plugins.js"></script>
<!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
		<script>
		function checkSelected(data,ob){
	    if( data.id="Trailing_P_E")
    	    ob.Trailing_P_E = data.value;
	    $.get( "/screener/fundamentalDataHome?Trailing_P_E="+data.value, function( data ) {
    });}
    
    $( document ).ready(function() {
      
    });
    
    function downloadPDF()
    {
    alert("Downloading")
}
		</script>
<script src="/static/js/main.js"></script>


{% endblock %}