<div class="row">
			<div class="title_sec">
				<h1>Portfolio Optimization</h1>
			</div>		
			<div>
				<div class="sngl_blg">
					<div style="background: #E6F0F3;padding-top: 7px;">
						<h2 style="margin-left: 460px;background: 0000;">Portfolio 1</h2>
					</div>
					<div>
						<table width="100%" cellspacing="1" cellpadding="1">
							<tbody>
							<tr>
								<div id="resultheatmap"> <img src="/screener/portfolioOptimization/" alt=""/></div>
							</tr>
							
							</tbody>
						</table>
					</div>
				</div>	
				
				<div class="sngl_blg">
					<div style="background: #E6F0F3;padding-top: 7px;">
						<h2 style="margin-left: 460px;background: 0000;">Portfolio info</h2>
					</div>
					<div>
						<div>

							<div id="screener-content">
								<table border="0" width="100%" cellspacing="0" cellpadding="0">
									<tbody>
									<tr>
										<td width="100%"></td>
									</tr>
									<tr>
										<td>
											<table border="0" width="100%" cellspacing="1" cellpadding="3">
												<tbody>
												<tr style=" border: 1px solid black;"><strong>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">No.</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Ticker</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Company</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Industry</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Country</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Market Cap</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Trailing P/E</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Forward P/E</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Beta</td>
																										<td style="padding-left: 16px;border: 1px solid black; width:10px">52 Weeek Change</td>
													<td style="padding-left: 16px;border: 1px solid black; width:10px">Avg. Volume 3 Month</td>
												</tr>
												
												<tr style="border: 1px solid black;">
													<td style="padding-left: 16px;border: 1px solid black;">1</td>
													<td style="padding-left: 16px;border: 1px solid black;"><a  href="/indices/nift100Indices/{{fd.Ticker}}/2017/1/1/2018/5/5/" target="_blank">{{fd.Ticker}}</a></td>
													<td style="padding-left: 16px;border: 1px solid black;">as</td>
													<td style="padding-left: 16px;border: 1px solid black;">qwe</td>
													<td style="padding-left: 16px;border: 1px solid black;">INDIA</td>
													<td style="padding-left: 16px;border: 1px solid black;">adas</td>
													<td style="padding-left: 16px;border: 1px solid black;">asdas</td>
													<td style="padding-left: 16px;border: 1px solid black;">asdasd</td>
													<td style="padding-left: 16px;border: 1px solid black;">asdas</td>
													<td style="padding-left: 16px;border: 1px solid black;">asdas</td>
													<td style="padding-left: 16px;border: 1px solid black;">asda</td>
												</tr>
												
                                        </td>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
        								<td>
        								
        								</td>
        							</tr>
									</tbody>
								</table>
						</div>
					</div>
				</div>				

				<div class="sngl_blg">						

				</div>
            </div>
		</div>
<!-- start Blog Section -->


<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<script src="/static/js/isotope.pkgd.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/scrolling-nav.js"></script>
<script src="/static/js/plugins.js"></script>
<!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
		<script>
		function checkSelected(data,ob){
	    if( data.id="Trailing_P_E")
    	    ob.Trailing_P_E = data.value;
	    $.get( "/screener/fundamentalDataHome?Trailing_P_E="+data.value, function( data ) {
    });}
    
    $( document ).ready(function() {
      
    });
    
		</script>
<script src="/static/js/main.js"></script>
