  <div class="container_12" style="width: 1359px !important;">
 <div class="grid_12 header-repeat">
            <div id="branding">
                <div class="floatleft">
                    <h2 style="color: white">Stock broking meets technology</h2></div>
                <div class="floatright">
                    <div class="floatleft">
                        <img src="img/img-profile.jpg" alt="Profile Pic" /></div>
                    <div class="floatleft marginleft10">
                        <ul class="inline-ul floatleft">
                            <li>Hello Admin</li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                        <br />
                        <span class="small grey">Last Login: 3 hours ago</span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="grid_12">
            <ul class="nav main">
                <li class="ic-dashboard"><a href="dashboard.html"><span>Dashboard</span></a> </li>
                <li class="ic-form-style"><a href="javascript:"><span>Screener</span></a>
                    <ul>
                        <li><a href="form-controls.html">Forms</a> </li>
                        <li><a href="buttons.html">Buttons</a> </li>
                    </ul>
                </li>
               		 <ul>
                        
                    </ul>
                </li>
                <li class="ic-notifications"><a href="notifications.html"><span>Notifications</span></a></li>

            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="grid_2">
            <div class="box sidemenu">
                <div class="block" id="section-menu">
                    <ul class="section menu">
                        <li><a class="menuitem">Screaner</a>
                            <ul class="submenu">
                                <li><a href="/screener/fundamentalData/AAPL/">Fundamental</a> </li>
                                <li><a href="/screener/technicalData/AAPL/">Technical</a> </li>
                                <li><a>All</a> </li>
                              </ul>
                        </li>
                        <li><a>Product</a>
                            <ul class="submenu">
                                <li><a>Equities</a> </li>
                                <li><a href="/indices/nift100Indices/RAIN.NS/2017/1/1/2018/5/5/">Indices</a> </li>
                                <li><a>Mutual Funds</a> </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid_10">
            <div class="box round first">
              
                <div class="block" style="background: #E6F0F3;padding-top: 7px;">
                    <h2 class="sub_title FL" style="margin-left: 460px;background: 0000;">Fundamental</h2>
				</div>
				<div>
					<table width="100%" cellspacing="1" cellpadding="1">
					<tbody>
						<tr>
							<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">P/E</span></td>
							<td class="filters-cells" width="10%"><select id="fs_fa_pe" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_pe" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_pe_selected_filter&amp;ft=2&amp;o=industry">
							<option selected="selected" value="">Any</option>
							<option value="low">Low (&lt;15)</option>
							<option value="profitable">Profitable (&gt;0)</option>
							<option value="high">High (&gt;50)</option>
							<option value="u5">Under 5</option>
							<option value="u10">Under 10</option>
							<option value="u15">Under 15</option>
							<option value="u20">Under 20</option>
							<option value="u25">Under 25</option>
							<option value="u30">Under 30</option>
							<option value="u35">Under 35</option>
							<option value="u40">Under 40</option>
							<option value="u45">Under 45</option>
							<option value="u50">Under 50</option>
							<option value="o5">Over 5</option>
							<option value="o10">Over 10</option>
							<option value="o15">Over 15</option>
							<option value="o20">Over 20</option>
							<option value="o25">Over 25</option>
							<option value="o30">Over 30</option>
							<option value="o35">Over 35</option>
							<option value="o40">Over 40</option>
							<option value="o45">Over 45</option>
							<option value="o50">Over 50</option>
							<option value="range">Custom (Elite only)</option>
							</select></td>
							<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Forward Price-to-Earnings Ratio] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;A measure of the price-to-earnings ratio using forecasted earnings for the P/E calculation. Value for next fiscal year.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Forward P/E</span></td>
							<td class="filters-cells" width="10%"><select id="fs_fa_fpe" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_fpe" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_fpe_selected_filter&amp;ft=2&amp;o=industry">
							<option selected="selected" value="">Any</option>
							<option value="low">Low (&lt;15)</option>
							<option value="profitable">Profitable (&gt;0)</option>
							<option value="high">High (&gt;50)</option>
							<option value="u5">Under 5</option>
							<option value="u10">Under 10</option>
							<option value="u15">Under 15</option>
							<option value="u20">Under 20</option>
							<option value="u25">Under 25</option>
							<option value="u30">Under 30</option>
							<option value="u35">Under 35</option>
							<option value="u40">Under 40</option>
							<option value="u45">Under 45</option>
							<option value="u50">Under 50</option>
							<option value="o5">Over 5</option>
							<option value="o10">Over 10</option>
							<option value="o15">Over 15</option>
							<option value="o20">Over 20</option>
							<option value="o25">Over 25</option>
							<option value="o30">Over 30</option>
							<option value="o35">Over 35</option>
							<option value="o40">Over 40</option>
							<option value="o45">Over 45</option>
							<option value="o50">Over 50</option>
							<option value="range">Custom (Elite only)</option>
							</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Price-to-Earnings-to-Growth] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;A ratio used to determine a stock's value while taking into account earnings growth.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">PEG</span></td>
						<td class="filters-cells" width="10%"><select id="fs_fa_peg" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_peg" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_peg_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="low">Low (&lt;1)</option>
						<option value="high">High (&gt;2)</option>
						<option value="u1">Under 1</option>
						<option value="u2">Under 2</option>
						<option value="u3">Under 3</option>
						<option value="o1">Over 1</option>
						<option value="o2">Over 2</option>
						<option value="o3">Over 3</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">P/S</span></td>
						<td class="filters-cells" width="10%"><select id="fs_fa_ps" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_ps" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_ps_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="low">Low (&lt;1)</option>
						<option value="high">High (&gt;10)</option>
						<option value="u1">Under 1</option>
						<option value="u2">Under 2</option>
						<option value="u3">Under 3</option>
						<option value="u4">Under 4</option>
						<option value="u5">Under 5</option>
						<option value="u6">Under 6</option>
						<option value="u7">Under 7</option>
						<option value="u8">Under 8</option>
						<option value="u9">Under 9</option>
						<option value="u10">Under 10</option>
						<option value="o1">Over 1</option>
						<option value="o2">Over 2</option>
						<option value="o3">Over 3</option>
						<option value="o4">Over 4</option>
						<option value="o5">Over 5</option>
						<option value="o6">Over 6</option>
						<option value="o7">Over 7</option>
						<option value="o8">Over 8</option>
						<option value="o9">Over 9</option>
						<option value="o10">Over 10</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Price-to-Book Ratio] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;A ratio used to compare a stock's market value to its book value. It is calculated by dividing the current closing price of the stock by the latest quarter's book value per share.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">P/B</span></td>
						<td class="filters-cells" width="10%"><select id="fs_fa_pb" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_pb" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_pb_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="low">Low (&lt;1)</option>
						<option value="high">High (&gt;5)</option>
						<option value="u1">Under 1</option>
						<option value="u2">Under 2</option>
						<option value="u3">Under 3</option>
						<option value="u4">Under 4</option>
						<option value="u5">Under 5</option>
						<option value="u6">Under 6</option>
						<option value="u7">Under 7</option>
						<option value="u8">Under 8</option>
						<option value="u9">Under 9</option>
						<option value="u10">Under 10</option>
						<option value="o1">Over 1</option>
						<option value="o2">Over 2</option>
						<option value="o3">Over 3</option>
						<option value="o4">Over 4</option>
						<option value="o5">Over 5</option>
						<option value="o6">Over 6</option>
						<option value="o7">Over 7</option>
						<option value="o8">Over 8</option>
						<option value="o9">Over 9</option>
						<option value="o10">Over 10</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					</tr>
					<tr>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">Price/Cash</span></td>
						<td class="filters-cells" width="10%"><select id="fs_fa_pc" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_pc" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_pc_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="low">Low (&lt;3)</option>
						<option value="high">High (&gt;50)</option>
						<option value="u1">Under 1</option>
						<option value="u2">Under 2</option>
						<option value="u3">Under 3</option>
						<option value="u4">Under 4</option>
						<option value="u5">Under 5</option>
						<option value="u6">Under 6</option>
						<option value="u7">Under 7</option>
						<option value="u8">Under 8</option>
						<option value="u9">Under 9</option>
						<option value="u10">Under 10</option>
						<option value="o1">Over 1</option>
						<option value="o2">Over 2</option>
						<option value="o3">Over 3</option>
						<option value="o4">Over 4</option>
						<option value="o5">Over 5</option>
						<option value="o6">Over 6</option>
						<option value="o7">Over 7</option>
						<option value="o8">Over 8</option>
						<option value="o9">Over 9</option>
						<option value="o10">Over 10</option>
						<option value="o20">Over 20</option>
						<option value="o30">Over 30</option>
						<option value="o40">Over 40</option>
						<option value="o50">Over 50</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Price to Free Cash Flow (ttm)] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;A valuation metric that compares a company's market price to its level of annual free cash flow.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Price/Free Cash Flow</span></td>
						<td class="filters-cells" width="10%"><select id="fs_fa_pfcf" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_pfcf" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_pfcf_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="low">Low (&lt;15)</option>
						<option value="high">High (&gt;50)</option>
						<option value="u5">Under 5</option>
						<option value="u10">Under 10</option>
						<option value="u15">Under 15</option>
						<option value="u20">Under 20</option>
						<option value="u25">Under 25</option>
						<option value="u30">Under 30</option>
						<option value="u35">Under 35</option>
						<option value="u40">Under 40</option>
						<option value="u45">Under 45</option>
						<option value="u50">Under 50</option>
						<option value="u60">Under 60</option>
						<option value="u70">Under 70</option>
						<option value="u80">Under 80</option>
						<option value="u90">Under 90</option>
						<option value="u100">Under 100</option>
						<option value="o5">Over 5</option>
						<option value="o10">Over 10</option>
						<option value="o15">Over 15</option>
						<option value="o20">Over 20</option>
						<option value="o25">Over 25</option>
						<option value="o30">Over 30</option>
						<option value="o35">Over 35</option>
						<option value="o40">Over 40</option>
						<option value="o45">Over 45</option>
						<option value="o50">Over 50</option>
						<option value="o60">Over 60</option>
						<option value="o70">Over 70</option>
						<option value="o80">Over 80</option>
						<option value="o90">Over 90</option>
						<option value="o100">Over 100</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Earnings Per Share, Growth This Year] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;EPS is the portion of a company's profit allocated to each outstanding share of common stock. EPS serves as an indicator of a company's profitability.&lt;br&gt;&lt;br&gt;Value for current fiscal year.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">EPS growth
					this year</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_epsyoy" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_epsyoy" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_epsyoy_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="poslow">Positive Low (0-10%)</option>
						<option value="high">High (&gt;25%)</option>
						<option value="u5">Under 5%</option>
						<option value="u10">Under 10%</option>
						<option value="u15">Under 15%</option>
						<option value="u20">Under 20%</option>
						<option value="u25">Under 25%</option>
						<option value="u30">Under 30%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">EPS growth
					next year</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_epsyoy1" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_epsyoy1" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_epsyoy1_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="poslow">Positive Low (0-10%)</option>
						<option value="high">High (&gt;25%)</option>
						<option value="u5">Under 5%</option>
						<option value="u10">Under 10%</option>
						<option value="u15">Under 15%</option>
						<option value="u20">Under 20%</option>
						<option value="u25">Under 25%</option>
						<option value="u30">Under 30%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Earnings Per Share, Growth Past 5 Years] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;EPS is the portion of a company's profit allocated to each outstanding share of common stock. EPS serves as an indicator of a company's profitability.&lt;br&gt;&lt;br&gt;Annual growth over past 5 years.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">EPS growth
					past 5 years</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_eps5years" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_eps5years" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_eps5years_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="poslow">Positive Low (0-10%)</option>
						<option value="high">High (&gt;25%)</option>
						<option value="u5">Under 5%</option>
						<option value="u10">Under 10%</option>
						<option value="u15">Under 15%</option>
						<option value="u20">Under 20%</option>
						<option value="u25">Under 25%</option>
						<option value="u30">Under 30%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					</tr>
					<tr>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">EPS growth
					next 5 years</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_estltgrowth" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_estltgrowth" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_estltgrowth_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="poslow">Positive Low (&lt;10%)</option>
						<option value="high">High (&gt;25%)</option>
						<option value="u5">Under 5%</option>
						<option value="u10">Under 10%</option>
						<option value="u15">Under 15%</option>
						<option value="u20">Under 20%</option>
						<option value="u25">Under 25%</option>
						<option value="u30">Under 30%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Sales Growth Past 5 Years] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;Annual growth over past 5 years.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Sales growth
					past 5 years</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_sales5years" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_sales5years" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_sales5years_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="poslow">Positive Low (0-10%)</option>
						<option value="high">High (&gt;25%)</option>
						<option value="u5">Under 5%</option>
						<option value="u10">Under 10%</option>
						<option value="u15">Under 15%</option>
						<option value="u20">Under 20%</option>
						<option value="u25">Under 25%</option>
						<option value="u30">Under 30%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Earnings Per Share, Growth Quarter Over Quarter] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;EPS is the portion of a company's profit allocated to each outstanding share of common stock. EPS serves as an indicator of a company's profitability.&lt;br&gt;&lt;br&gt;Quarter over quarter growth.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">EPS growth
					qtr over qtr</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_epsqoq" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_epsqoq" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_epsqoq_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="poslow">Positive Low (0-10%)</option>
						<option value="high">High (&gt;25%)</option>
						<option value="u5">Under 5%</option>
						<option value="u10">Under 10%</option>
						<option value="u15">Under 15%</option>
						<option value="u20">Under 20%</option>
						<option value="u25">Under 25%</option>
						<option value="u30">Under 30%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">Sales growth
					qtr over qtr</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_salesqoq" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_salesqoq" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_salesqoq_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="poslow">Positive Low (0-10%)</option>
						<option value="high">High (&gt;25%)</option>
						<option value="u5">Under 5%</option>
						<option value="u10">Under 10%</option>
						<option value="u15">Under 15%</option>
						<option value="u20">Under 20%</option>
						<option value="u25">Under 25%</option>
						<option value="u30">Under 30%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Return on Assets (ttm)] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;An indicator of how profitable a company is relative to its total assets. ROA gives an idea as to how efficient management is at using its assets to generate earnings. Calculated by dividing a company's annual earnings by its total assets, ROA is displayed as a percentage.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Return on Assets</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_roa" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_roa" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_roa_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="verypos">Very Positive (&gt;15%)</option>
						<option value="veryneg">Very Negative (&lt;-15%)</option>
						<option value="u-50">Under -50%</option>
						<option value="u-45">Under -45%</option>
						<option value="u-40">Under -40%</option>
						<option value="u-35">Under -35%</option>
						<option value="u-30">Under -30%</option>
						<option value="u-25">Under -25%</option>
						<option value="u-20">Under -20%</option>
						<option value="u-15">Under -15%</option>
						<option value="u-10">Under -10%</option>
						<option value="u-5">Under -5%</option>
						<option value="o5">Over +5%</option>
						<option value="o10">Over +10%</option>
						<option value="o15">Over +15%</option>
						<option value="o20">Over +20%</option>
						<option value="o25">Over +25%</option>
						<option value="o30">Over +30%</option>
						<option value="o35">Over +35%</option>
						<option value="o40">Over +40%</option>
						<option value="o45">Over +45%</option>
						<option value="o50">Over +50%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					</tr>
					<tr>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">Return on Equity</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_roe" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_roe" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_roe_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="verypos">Very Positive (&gt;30%)</option>
						<option value="veryneg">Very Negative (&lt;-15%)</option>
						<option value="u-50">Under -50%</option>
						<option value="u-45">Under -45%</option>
						<option value="u-40">Under -40%</option>
						<option value="u-35">Under -35%</option>
						<option value="u-30">Under -30%</option>
						<option value="u-25">Under -25%</option>
						<option value="u-20">Under -20%</option>
						<option value="u-15">Under -15%</option>
						<option value="u-10">Under -10%</option>
						<option value="u-5">Under -5%</option>
						<option value="o5">Over +5%</option>
						<option value="o10">Over +10%</option>
						<option value="o15">Over +15%</option>
						<option value="o20">Over +20%</option>
						<option value="o25">Over +25%</option>
						<option value="o30">Over +30%</option>
						<option value="o35">Over +35%</option>
						<option value="o40">Over +40%</option>
						<option value="o45">Over +45%</option>
						<option value="o50">Over +50%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Return on Investment (ttm)] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;Performance measure used to evaluate the efficiency of an investment or to compare the efficiency of a number of different investments. To calculate ROI, the benefit (return) of an investment is divided by the cost of the investment: (Gain from Investment - Cost of Investment) / Cost of Investment.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Return on Investment</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_roi" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_roi" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_roi_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="verypos">Very Positive (&gt;25%)</option>
						<option value="veryneg">Very Negative (&lt;-10%)</option>
						<option value="u-50">Under -50%</option>
						<option value="u-45">Under -45%</option>
						<option value="u-40">Under -40%</option>
						<option value="u-35">Under -35%</option>
						<option value="u-30">Under -30%</option>
						<option value="u-25">Under -25%</option>
						<option value="u-20">Under -20%</option>
						<option value="u-15">Under -15%</option>
						<option value="u-10">Under -10%</option>
						<option value="u-5">Under -5%</option>
						<option value="o5">Over +5%</option>
						<option value="o10">Over +10%</option>
						<option value="o15">Over +15%</option>
						<option value="o20">Over +20%</option>
						<option value="o25">Over +25%</option>
						<option value="o30">Over +30%</option>
						<option value="o35">Over +35%</option>
						<option value="o40">Over +40%</option>
						<option value="o45">Over +45%</option>
						<option value="o50">Over +50%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Current Ratio (mrq)] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;A liquidity ratio that measures a company's ability to pay short-term obligations. Calculated as Current Assets / Current Liabilities.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Current Ratio</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_curratio" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_curratio" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_curratio_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="high">High (&gt;3)</option>
						<option value="low">Low (&lt;1)</option>
						<option value="u1">Under 1</option>
						<option value="u0.5">Under 0.5</option>
						<option value="o0.5">Over 0.5</option>
						<option value="o1">Over 1</option>
						<option value="o1.5">Over 1.5</option>
						<option value="o2">Over 2</option>
						<option value="o3">Over 3</option>
						<option value="o4">Over 4</option>
						<option value="o5">Over 5</option>
						<option value="o10">Over 10</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">Quick Ratio</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_quickratio" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_quickratio" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_quickratio_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="high">High (&gt;3)</option>
						<option value="low">Low (&lt;0.5)</option>
						<option value="u1">Under 1</option>
						<option value="u0.5">Under 0.5</option>
						<option value="o0.5">Over 0.5</option>
						<option value="o1">Over 1</option>
						<option value="o1.5">Over 1.5</option>
						<option value="o2">Over 2</option>
						<option value="o3">Over 3</option>
						<option value="o4">Over 4</option>
						<option value="o5">Over 5</option>
						<option value="o10">Over 10</option>
						<option value="frange">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Long Term Debt to Equity (mrq)] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;A measure of a company's financial leverage calculated by dividing its long term debt by stockholders' equity. It indicates what proportion of equity and debt the company is using to finance its assets.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">LT Debt/Equity</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_ltdebteq" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_ltdebteq" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_ltdebteq_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="high">High (&gt;0.5)</option>
						<option value="low">Low (&lt;0.1)</option>
						<option value="u1">Under 1</option>
						<option value="u0.9">Under 0.9</option>
						<option value="u0.8">Under 0.8</option>
						<option value="u0.7">Under 0.7</option>
						<option value="u0.6">Under 0.6</option>
						<option value="u0.5">Under 0.5</option>
						<option value="u0.4">Under 0.4</option>
						<option value="u0.3">Under 0.3</option>
						<option value="u0.2">Under 0.2</option>
						<option value="u0.1">Under 0.1</option>
						<option value="o0.1">Over 0.1</option>
						<option value="o0.2">Over 0.2</option>
						<option value="o0.3">Over 0.3</option>
						<option value="o0.4">Over 0.4</option>
						<option value="o0.5">Over 0.5</option>
						<option value="o0.6">Over 0.6</option>
						<option value="o0.7">Over 0.7</option>
						<option value="o0.8">Over 0.8</option>
						<option value="o0.9">Over 0.9</option>
						<option value="o1">Over 1</option>
						<option value="frange">Custom (Elite only)</option>
						</select>
					</td>
					</tr>
					<tr>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">Debt/Equity</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_debteq" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_debteq" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_debteq_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="high">High (&gt;0.5)</option>
						<option value="low">Low (&lt;0.1)</option>
						<option value="u1">Under 1</option>
						<option value="u0.9">Under 0.9</option>
						<option value="u0.8">Under 0.8</option>
						<option value="u0.7">Under 0.7</option>
						<option value="u0.6">Under 0.6</option>
						<option value="u0.5">Under 0.5</option>
						<option value="u0.4">Under 0.4</option>
						<option value="u0.3">Under 0.3</option>
						<option value="u0.2">Under 0.2</option>
						<option value="u0.1">Under 0.1</option>
						<option value="o0.1">Over 0.1</option>
						<option value="o0.2">Over 0.2</option>
						<option value="o0.3">Over 0.3</option>
						<option value="o0.4">Over 0.4</option>
						<option value="o0.5">Over 0.5</option>
						<option value="o0.6">Over 0.6</option>
						<option value="o0.7">Over 0.7</option>
						<option value="o0.8">Over 0.8</option>
						<option value="o0.9">Over 0.9</option>
						<option value="o1">Over 1</option>
						<option value="frange">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Gross Margin (ttm)] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;A company's total sales revenue minus its cost of goods sold, divided by the total sales revenue, expressed as a percentage. The gross margin represents the percent of total sales revenue that the company retains after incurring the direct costs associated with producing the goods and services sold by a company. The higher the percentage, the more the company retains on each dollar of sales to service its other costs and obligations.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Gross Margin</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_grossmargin" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_grossmargin" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_grossmargin_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="high">High (&gt;50%)</option>
						<option value="u90">Under 90%</option>
						<option value="u80">Under 80%</option>
						<option value="u70">Under 70%</option>
						<option value="u60">Under 60%</option>
						<option value="u50">Under 50%</option>
						<option value="u45">Under 45%</option>
						<option value="u40">Under 40%</option>
						<option value="u35">Under 35%</option>
						<option value="u30">Under 30%</option>
						<option value="u25">Under 25%</option>
						<option value="u20">Under 20%</option>
						<option value="u15">Under 15%</option>
						<option value="u10">Under 10%</option>
						<option value="u5">Under 5%</option>
						<option value="u0">Under 0%</option>
						<option value="u-10">Under -10%</option>
						<option value="u-20">Under -20%</option>
						<option value="u-30">Under -30%</option>
						<option value="u-50">Under -50%</option>
						<option value="u-70">Under -70%</option>
						<option value="u-100">Under -100%</option>
						<option value="o0">Over 0%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="o35">Over 35%</option>
						<option value="o40">Over 40%</option>
						<option value="o45">Over 45%</option>
						<option value="o50">Over 50%</option>
						<option value="o60">Over 60%</option>
						<option value="o70">Over 70%</option>
						<option value="o80">Over 80%</option>
						<option value="o90">Over 90%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Operating Margin (ttm)] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;Operating margin is a measurement of what proportion of a company's revenue is left over after paying for variable costs of production such as wages, raw materials, etc. A healthy operating margin is required for a company to be able to pay for its fixed costs, such as interest on debt. Calculated as Operating Income / Net Sales.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Operating Margin</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_opermargin" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_opermargin" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_opermargin_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="veryneg">Very Negative (&lt;-20%)</option>
						<option value="high">High (&gt;25%)</option>
						<option value="u90">Under 90%</option>
						<option value="u80">Under 80%</option>
						<option value="u70">Under 70%</option>
						<option value="u60">Under 60%</option>
						<option value="u50">Under 50%</option>
						<option value="u45">Under 45%</option>
						<option value="u40">Under 40%</option>
						<option value="u35">Under 35%</option>
						<option value="u30">Under 30%</option>
						<option value="u25">Under 25%</option>
						<option value="u20">Under 20%</option>
						<option value="u15">Under 15%</option>
						<option value="u10">Under 10%</option>
						<option value="u5">Under 5%</option>
						<option value="u0">Under 0%</option>
						<option value="u-10">Under -10%</option>
						<option value="u-20">Under -20%</option>
						<option value="u-30">Under -30%</option>
						<option value="u-50">Under -50%</option>
						<option value="u-70">Under -70%</option>
						<option value="u-100">Under -100%</option>
						<option value="o0">Over 0%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="o35">Over 35%</option>
						<option value="o40">Over 40%</option>
						<option value="o45">Over 45%</option>
						<option value="o50">Over 50%</option>
						<option value="o60">Over 60%</option>
						<option value="o70">Over 70%</option>
						<option value="o80">Over 80%</option>
						<option value="o90">Over 90%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">Net Profit Margin</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_netmargin" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_netmargin" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_netmargin_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="veryneg">Very Negative (&lt;-20%)</option>
						<option value="high">High (&gt;20%)</option>
						<option value="u90">Under 90%</option>
						<option value="u80">Under 80%</option>
						<option value="u70">Under 70%</option>
						<option value="u60">Under 60%</option>
						<option value="u50">Under 50%</option>
						<option value="u45">Under 45%</option>
						<option value="u40">Under 40%</option>
						<option value="u35">Under 35%</option>
						<option value="u30">Under 30%</option>
						<option value="u25">Under 25%</option>
						<option value="u20">Under 20%</option>
						<option value="u15">Under 15%</option>
						<option value="u10">Under 10%</option>
						<option value="u5">Under 5%</option>
						<option value="u0">Under 0%</option>
						<option value="u-10">Under -10%</option>
						<option value="u-20">Under -20%</option>
						<option value="u-30">Under -30%</option>
						<option value="u-50">Under -50%</option>
						<option value="u-70">Under -70%</option>
						<option value="u-100">Under -100%</option>
						<option value="o0">Over 0%</option>
						<option value="o5">Over 5%</option>
						<option value="o10">Over 10%</option>
						<option value="o15">Over 15%</option>
						<option value="o20">Over 20%</option>
						<option value="o25">Over 25%</option>
						<option value="o30">Over 30%</option>
						<option value="o35">Over 35%</option>
						<option value="o40">Over 40%</option>
						<option value="o45">Over 45%</option>
						<option value="o50">Over 50%</option>
						<option value="o60">Over 60%</option>
						<option value="o70">Over 70%</option>
						<option value="o80">Over 80%</option>
						<option value="o90">Over 90%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Payout Ratio] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;The percentage of earnings paid to shareholders in dividends.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Payout Ratio</span></td>
					<td class="filters-cells" width="10%"><select id="fs_fa_payoutratio" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_payoutratio" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_payoutratio_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="none">None (0%)</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="low">Low (&lt;20%)</option>
						<option value="high">High (&gt;50%)</option>
						<option value="o0">Over 0%</option>
						<option value="o10">Over 10%</option>
						<option value="o20">Over 20%</option>
						<option value="o30">Over 30%</option>
						<option value="o40">Over 40%</option>
						<option value="o50">Over 50%</option>
						<option value="o60">Over 60%</option>
						<option value="o70">Over 70%</option>
						<option value="o80">Over 80%</option>
						<option value="o90">Over 90%</option>
						<option value="o100">Over 100%</option>
						<option value="u10">Under 10%</option>
						<option value="u20">Under 20%</option>
						<option value="u30">Under 30%</option>
						<option value="u40">Under 40%</option>
						<option value="u50">Under 50%</option>
						<option value="u60">Under 60%</option>
						<option value="u70">Under 70%</option>
						<option value="u80">Under 80%</option>
						<option value="u90">Under 90%</option>
						<option value="u100">Under 100%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					</tr>
					<tr>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">Insider
					Ownership</span></td>
					<td class="filters-cells" width="10%"><select id="fs_sh_insiderown" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="sh_insiderown" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=sh_insiderown_selected_filter&amp;ft=2&amp;o=industry">
					<option selected="selected" value="">Any</option>
					<option value="low">Low (&lt;5%)</option>
					<option value="high">High (&gt;30%)</option>
					<option value="veryhigh">Very High (&gt;50%)</option>
					<option value="o10">Over 10%</option>
					<option value="o20">Over 20%</option>
					<option value="o30">Over 30%</option>
					<option value="o40">Over 40%</option>
					<option value="o50">Over 50%</option>
					<option value="o60">Over 60%</option>
					<option value="o70">Over 70%</option>
					<option value="o80">Over 80%</option>
					<option value="o90">Over 90%</option>
					<option value="range">Custom (Elite only)</option>
					</select></td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" title="">Insider
					Transactions</span></td>
					<td class="filters-cells" width="10%"><select id="fs_sh_insidertrans" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="sh_insidertrans" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=sh_insidertrans_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="veryneg">Very Negative (&lt;20%)</option>
						<option value="neg">Negative (&lt;0%)</option>
						<option value="pos">Positive (&gt;0%)</option>
						<option value="verypos">Very Positive (&gt;20%)</option>
						<option value="u-90">Under -90%</option>
						<option value="u-80">Under -80%</option>
						<option value="u-70">Under -70%</option>
						<option value="u-60">Under -60%</option>
						<option value="u-50">Under -50%</option>
						<option value="u-45">Under -45%</option>
						<option value="u-40">Under -40%</option>
						<option value="u-35">Under -35%</option>
						<option value="u-30">Under -30%</option>
						<option value="u-25">Under -25%</option>
						<option value="u-20">Under -20%</option>
						<option value="u-15">Under -15%</option>
						<option value="u-10">Under -10%</option>
						<option value="u-5">Under -5%</option>
						<option value="o5">Over +5%</option>
						<option value="o10">Over +10%</option>
						<option value="o15">Over +15%</option>
						<option value="o20">Over +20%</option>
						<option value="o25">Over +25%</option>
						<option value="o30">Over +30%</option>
						<option value="o35">Over +35%</option>
						<option value="o40">Over +40%</option>
						<option value="o45">Over +45%</option>
						<option value="o50">Over +50%</option>
						<option value="o60">Over +60%</option>
						<option value="o70">Over +70%</option>
						<option value="o80">Over +80%</option>
						<option value="o90">Over +90%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					<td class="filters-cells" align="center" width="10%"><span class="screener-combo-title" style="font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; text-decoration: none; cursor: pointer;" title="cssbody=[tooltip_bdy] cssheader=[tooltip_hdr] header=[Institutional Ownership] body=[&lt;table width=300&gt;&lt;tr&gt;&lt;td class='tooltip_tab'&gt;Level to which a company is owned by financial institutions.&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;] delay=[500]">Institutional
					Ownership</span></td>
					<td class="filters-cells" width="10%"><select id="fs_sh_instown" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="sh_instown" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=sh_instown_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="low">Low (&lt;5%)</option>
						<option value="high">High (&gt;90%)</option>
						<option value="u90">Under 90%</option>
						<option value="u80">Under 80%</option>
						<option value="u70">Under 70%</option>
						<option value="u60">Under 60%</option>
						<option value="u50">Under 50%</option>
						<option value="u40">Under 40%</option>
						<option value="u30">Under 30%</option>
						<option value="u20">Under 20%</option>
						<option value="u10">Under 10%</option>
						<option value="o10">Over 10%</option>
						<option value="o20">Over 20%</option>
						<option value="o30">Over 30%</option>
						<option value="o40">Over 40%</option>
						<option value="o50">Over 50%</option>
						<option value="o60">Over 60%</option>
						<option value="o70">Over 70%</option>
						<option value="o80">Over 80%</option>
						<option value="o90">Over 90%</option>
						<option value="range">Custom (Elite only)</option>
						</select>
					</td>
					
		</tr>
	</tbody>
</table>
			</div>
			<div class="block" style="background: #E6F0F3;padding-top: 7px;">
                    <h2 class="sub_title FL" style="margin-left: 460px;background: 0000;">All Company info</h2>
			</div>
			<div style="margin-top:25px;margin-bottom:20px;">
			<select width="500px" id="fs_fa_estltgrowth" class="screener-combo-text" onchange="screenerSelectOnChange(this)" data-filter="fa_estltgrowth" data-url="v=111&amp;ft=2&amp;o=industry" data-url-selected="v=111&amp;f=fa_estltgrowth_selected_filter&amp;ft=2&amp;o=industry">
						<option selected="selected" value="">Any</option>
						<option value="nifty50">Nifty 50</option>
						<option value="nifty100">Nifty 100</option>
						<option value="nifty200">Nifty 200</option>
						<option value="nifty500">Nifty 500</option>
						</select>
						</div>
				<div>
				
						<div id="result">
						<table border="0" width="100%" cellspacing="0" cellpadding="0">
						<tbody>
						<tr>
							<td width="100%"></td>
						</tr>
						<tr>
											<td>
											<table border="0" width="100%" cellspacing="1" cellpadding="3">
											<tbody>
											<tr style=" border: 1px solid black;"><strong>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">No.</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px"><img src="https://finviz.com/gfx/tab_arrow_u.gif" alt="" width="14" height="10" align="top" border="0" />Ticker</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">Company</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">Industry</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">Country</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">Market Cap</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">Trailing P/E</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">Forward P/E</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">Price</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">Change</td>
											<td style="padding-left: 16px;border: 1px solid black; width:10px">Volume</td>
											{% for fd in fundamentaldata %}   
											</tr>
											<tr style="border: 1px solid black;">
											<td style="padding-left: 16px;border: 1px solid black;">{{ forloop.counter }}</td>
											<td style="padding-left: 16px;border: 1px solid black;"><a  href="/indices/nift100Indices/{{fd.Ticker}}/2017/1/1/2018/5/5/" target="_blank">{{fd.Ticker}}</a></td>
											<td style="padding-left: 16px;border: 1px solid black;">{{fd.Company_Name}}</td>
											<td style="padding-left: 16px;border: 1px solid black;">{{fd.Industry}}</td>
											<td style="padding-left: 16px;border: 1px solid black;">INDIA</td>
											<td style="padding-left: 16px;border: 1px solid black;">{{fd.Market_Cap}}</td>
											<td style="padding-left: 16px;border: 1px solid black;">{{fd.Trailing_P_E}}</td>
											<td style="padding-left: 16px;border: 1px solid black;">{{fd.Forward_P_E}}</td>
											<td style="padding-left: 16px;border: 1px solid black;">{{fd.Industry}}</td>
											<td style="padding-left: 16px;border: 1px solid black;">{{fd.Industry}}</td>
											<td style="padding-left: 16px;border: 1px solid black;">5,211,271</td>
											</tr>
											{% endfor %}
											</tbody>
											</table>
											</td>
							</tr>
							<tr>
								<td>
								<table class="body-table" style="height: 5px;" border="0" width="910" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
								<tbody>
											<tr> <ul class="pagination">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                          </ul>
                                    </tr>
									</tr>
								</tbody>
								</table>
								</td>
							</tr>
						</tbody>	
					</table>
				</div>


				
			</div>
		</div>
</div>