<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wealth View</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script> <![endif]-->
    <!-- Place favicon.ico in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <style>
        table {
            border-collapse: collapse;
        }

        td {
            padding-top: .5em;
            padding-bottom: .5em;
            padding-left: .5em;
            padding-right: .5em;
        }
        th {
            text-align: center;
        }
    </style>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        .modalA {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .closeA {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        .closeA:hover,
        .closeA:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<!-- start preloader -->
<div id="loader-wrapper">
    <div class="logo"></div>
    <div id="loader">
    </div>
</div>
<!-- end preloader -->
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Start Header Section -->
<header class="main_menu_sec navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="lft_hd">
                    <!--<a href="index.html"><img src="img/logo.png" alt=""/></a>-->
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="rgt_hd">
                    <div class="main_menu">
                        <nav id="nav_menu">
                            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                                    data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div id="navbar">
                                <ul>
                                    <li><a class="page-scroll" href="index.html">Home</a></li>
                                    <li><a href="#">Screener <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a class="page-scroll" href="/screener/fundamentalData/AAPL/">Fundamental
                                                Data</a></li>
                                            <li><a class="page-scroll" href="/screener/technicalData/AAPL/">Technical
                                                Data</a></li>
                                            <li><a class="page-scroll" href="#lts_sec">All</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">Static Page<i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a class="page-scroll" href="/homepage/summary/">Summary</a></li>
                                            <li><a class="page-scroll" href="/homepage/actualvstargetallocation/">Actualvstargetallocation</a>
                                            </li>
                                            <li><a class="page-scroll" href="/homepage/allocations/">Allocations</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="page-scroll" href="/charts/maps/">Map</a></li>
                                    <li><a class="page-scroll" href="/charts/graphs/">Graph</a></li>
                                    <li><a class="page-scroll" href="indices/nift100Indices/RAIN.NS/2017/1/1/2018/5/5/">Indices</a>
                                    </li>
                                    <li><a class="page-scroll" href="#protfolio_sec">Mutual Funds</a></li>
                                    <li><a class="page-scroll" href="#ctn_sec">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="blg_sec" style="background-color: #E6E6E6;">
    <div class="container">
        <div class="row">
            <div class="title_sec">
                <h1 style="text-align: center;">Check some stratergies we offer </h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <div class="sngl_blg" style="background-color: #ffff;border: 1px solid black;">
                    <table class="grid styled">
                        <thead>
                        <tr>
                            <th style="padding-left: 10px;padding-right: 10px;">ID</th>
                            <th>&nbsp; &nbsp; &nbsp; &nbsp;Stratergy</th>
                            <th>Markets Traded</th>
                            <th style="padding-right: 33px;">Your portfolio</th>
                            <th style="padding-right: 33px;">Returns</th>
                            <th>Returns on stratergy</th>
                            <th>Keywords</th>
                            <th>Live Trading</th>
                            <th>Stop loss trigger</th>
                            <th>Paper trading</th>
                            <th>Check analysis</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="1" style>
                            <td>1</td>
                            <td><span style="color:#337ab7">Bollinger Band Stratergy</span></td>
                            <td>&nbsp;&nbsp;equities</td>
                            <td>
                                <button id="portfoliobtn1" class="btn btn-success" style="width: 100px;font-size: 10px;">
                                    Check Portfolios
                                </button>
                            </td>
                            <td style="">11.27%*</td>
                            <td style="">6.87%*</td>
                            <td>momentum, asset class picking, trendfollowing</td>
                            <td>
                                <details>
                                    <summary><label>Try</label></summary>
                                    <button type="submit" name="Livetrading_yes"  class="btn btn-success" style="width: 100px;margin-top: 5px;font-size: 10px;" value="Submit">Yes</button>
                                <button type="submit" name="Livetrading_no"  class="btn btn-success" style="width: 100px;margin-top: 5px;font-size: 10px;" value="Submit">No</button>
                                </details>
                            </td>
                            <td>
                                <details>
                                    <summary><label>Set it</label></summary>
                                    <label style="margin-top: 10px;">Choose amount at which you want to stop your transaction</label>
                                    <select style="margin-top: 10px;">
                                        <option value="10">10,00,000</option>
                                        <option value="15">15,00,000</option>
                                    </select>
                                    <button type="submit" name="stoploss_yes"  class="btn btn-success" style="width: 100px;margin-top: 10px;font-size: 10px;" value="Submit">stop loss trigger</button>
                                </details>
                            </td>
                            <td>
                                <button type="submit" name="submit_button"  class="btn btn-success" style="width: 100px;margin-top: 10px;font-size: 10px;" value="Submit">Try Paper trading</button>
                            </td>
                            <td>
                                <button id="result01" class="btn btn-success" style="width: 100px;font-size: 10px;font-size: 10px;">
                                    Stratergy result
                                </button>
                            </td>

                        </tr>
                        <tr id="2" class="gridrow_alternate">
                            <td>2</td>
                            <td><span style="color:#337ab7">Moving Average Comparing stratergy</span></td>
                            <td>&nbsp;&nbsp;equities</td>
                            <td>
                                <button id="portfoliobtn2" class="btn btn-success" style="width: 100px;font-size: 10px;">
                                    Check Portfolios
                                </button>
                            </td>
                            <td style="">15.00%*</td>
                            <td style="">9.60%*</td>
                            <td>momentum, asset class picking, rotational system</td>
                            <td>
                                <details>
                                    <summary><label>Try</label></summary>
                                    <button type="submit" name="Livetrading_yes"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 5px;" value="Submit">Yes</button>
                                    <button type="submit" name="Livetrading_no"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 5px;" value="Submit">No</button>
                                </details>
                            </td>
                            <td>
                                <details>
                                    <summary><label>Set it</label></summary>
                                    <label style="margin-top: 10px;">Choose amount at which you want to stop your transaction</label>
                                    <select style="margin-top: 10px;">
                                        <option value="10">10,00,000</option>
                                        <option value="15">15,00,000</option>
                                    </select>
                                    <button type="submit" name="stoploss_yes"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 10px;" value="Submit">stop loss trigger</button>
                                </details>
                            </td>
                            <td>
                                <button type="submit" name="submit_button"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 10px;" value="Submit">Try Paper trading</button>
                            </td>
                            <td>
                                <button id="result02" class="btn btn-success" style="width: 100px;font-size: 10px;">
                                    Stratergy result
                                </button>
                            </td>
                        </tr>
                        <tr id="3" class="gridrow">
                            <td>3</td>
                            <td><span style="color:#337ab7">Asset Class Trend Following</span></td>
                            <td>&nbsp;&nbsp;equities</td>
                            <td>
                                <button id="portfoliobtn3" class="btn btn-success" style="width: 100px;font-size: 10px;">
                                    Check Portfolios
                                </button>
                            </td>
                            <td style="">13.94%*</td>
                            <td style="">18.38%*</td>
                            <td>momentum, sector picking, rotational system</td>
                            <td>
                                <details>
                                    <summary><label>Try</label></summary>
                                    <button type="submit" name="Livetrading_yes"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 5px;" value="Submit">Yes</button>
                                    <button type="submit" name="Livetrading_no"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 5px;" value="Submit">No</button>
                                </details>
                            </td>
                            <td>
                                <details>
                                    <summary><label>Set it</label></summary>
                                    <label style="margin-top: 10px;">Choose amount at which you want to stop your transaction</label>
                                    <select style="margin-top: 10px;">
                                        <option value="10">10,00,000</option>
                                        <option value="15">15,00,000</option>
                                    </select>
                                    <button type="submit" name="stoploss_yes"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 10px;" value="Submit">stop loss trigger</button>
                                </details>
                            </td>
                            <td>
                                <button type="submit" name="submit_button"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 10px;" value="Submit">Try Paper trading</button>
                            </td>
                            <td>
                                <button id="result03" class="btn btn-success" style="width: 100px;font-size: 10px;">
                                    Stratergy result
                                </button>
                            </td>
                        </tr>
                        <tr id="4" class="gridrow_alternate">
                            <td>4</td>
                            <td><span style="color:#337ab7">Asset Class Trend Following</span></td>
                            <td>&nbsp;&nbsp;equities</td>
                            <td>
                                <button id="portfoliobtn4" class="btn btn-success" style="width: 100px;font-size: 10px;">
                                    Check Portfolios
                                </button>
                            </td>
                            <td style="">0.00%</td>
                            <td style="">0.00%</td>
                            <td>-</td>
                            <td>
                                <details>
                                    <summary><label>Try</label></summary>
                                    <button type="submit" name="Livetrading_yes"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 5px;" value="Submit">Yes</button>
                                    <button type="submit" name="Livetrading_no"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 5px;" value="Submit">No</button>
                                </details>
                            </td>
                            <td>
                                <details>
                                    <summary><label>Set it</label></summary>
                                    <label style="margin-top: 10px;">Choose amount at which you want to stop your transaction</label>
                                    <select style="margin-top: 10px;">
                                        <option value="10">10,00,000</option>
                                        <option value="15">15,00,000</option>
                                    </select>
                                    <button type="submit" name="stoploss_yes"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 10px;" value="Submit">stop loss trigger</button>
                                </details>
                            </td>
                            <td>
                                <button type="submit" name="submit_button"  class="btn btn-success" style="width: 100px;font-size: 10px;margin-top: 10px;" value="Submit">Try Paper trading</button>
                            </td>
                            <td>
                                <button id="result04" class="btn btn-success" style="width: 100px;font-size: 10px;">
                                    Stratergy result
                                </button>
                            </td>
                        </tr>
                        <!--<tr id="5" class="gridrow">
                            <td>5</td>
                            <td><span style="color:#337ab7">Asset Class Trend Following</span></td>
                            <td>&nbsp;&nbsp;equities</td>
                            <td style="">7.49%*</td>
                            <td style="">9.70%*</td>
                            <td>carry trade, FX anomaly, forex system</td>
                        </tr>-->
                        </tbody>
                    </table>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Some text in the Modal..</p>
                        </div>

                    </div>
                    <div id="myModalA" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="closeA">&times;</span>
                            <p>Some text in the Modal..</p>
                        </div>

                    </div>
                </div>
            </div>
            <!--<div class="col-lg-4 col-md-4 col-sm-4">
                <div class="sidebar">

                        <details>
                            <summary><label>Try live trading</label></summary>
                            <button type="submit" name="Livetrading_yes"  class="btn btn-success" style="float:right;width: 196px;margin-top: 10px;" value="Submit">Yes</button>
                            <button type="submit" name="Livetrading_no"  class="btn btn-success" style="float:right;width: 196px;margin-top: 10px;" value="Submit">No</button>
                        </details>

                    <details style="margin-top: 100px;">
                        <summary><label>Stop loss trigger</label></summary>
                        <label style="margin-top: 10px;">Choose amount at which you want to stop your transaction</label>
                        <select style="margin-top: 10px;">
                            <option value="10">10,00,000</option>
                            <option value="15">15,00,000</option>
                        </select>
                        <button type="submit" name="stoploss_yes"  class="btn btn-success" style="float:right;width: 196px;margin-top: 10px;" value="Submit">stop loss trigger</button>
                    </details>

                    <details style="margin-top: 100px;">
                        <summary><label>Try paper trading</label></summary>
                        <button type="submit" name="submit_button"  class="btn btn-success" style="width: 100px;margin-top: 10px;" value="Submit">Paper trading</button>
                    </details>

                </div>
            </div>-->
        </div>
    </div>
</section>


<footer id="ft_sec" style="background-color:#224B59">
    <div class="container" style="background-color:#f5f5f5;padding-top: 30px;">
        <div class="row">
            <div class="col-lg-12" style="background-color:#f5f5f5">
                <div class="ft">
                    <ul>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-rss"></i></a></li>
                        <li><a href=""><i class="fa fa-flickr"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-skype"></i></a></li>
                        <li><a href=""><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
                <ul class="copy_right">
                    <li>@WealthView</li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Section -->

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/static/js/vendor/jquery-1.11.3.min.js"></script>

<script src="/static/js/isotope.pkgd.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/showHide.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/scrolling-nav.js"></script>
<script src="/static/js/plugins.js"></script>
<!-- Google Map js -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    function initialize() {
        var mapOptions = {
            zoom: 14,
            scrollwheel: false,
            center: new google.maps.LatLng(41.092586000000000000, -75.592688599999970000)
        };
        var map = new google.maps.Map(document.getElementById('googleMap'),
            mapOptions);
        var marker = new google.maps.Marker({
            position: map.getCenter(),
            animation: google.maps.Animation.BOUNCE,
            icon: 'img/map-marker.png',
            map: map
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script src="/static/js/main.js"></script>

<script src="showHide.js" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {


        $('.show_hide').showHide({
            speed: 1000,  // speed you want the toggle to happen
            easing: '',  // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
            changeText: 1, // if you dont want the button text to change, set this to 0
            showText: 'View',// the button text to show when a div is closed
            hideText: 'Close' // the button text to show when a div is open

        });


    });

</script>
<script>
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>

<script>

    //Hide Overflow of Body on DOM Ready //
    $(document).ready(function () {
        $("body").css("overflow", "hidden");
    });

    // Show Overflow of Body when Everything has Loaded
    $(window).load(function () {
        $("body").css("overflow", "visible");
        var nice = $('html').niceScroll({
            cursorborder: "5",
            cursorcolor: "#00AFF0",
            cursorwidth: "3px",
            boxzoom: true,
            autohidemode: true
        });

    });
</script>
<script>
    // Get the modal for portfolio
    var modal = document.getElementById('myModal');

    // Get the modal for stratergy result
    var modalA = document.getElementById('myModalA');

    // Get the button that opens the modal for portfolio
    var btno = document.getElementById("portfoliobtn1");
    var btnp = document.getElementById("portfoliobtn2");
    var btnq = document.getElementById("portfoliobtn3");
    var btnr = document.getElementById("portfoliobtn4");

    // Get the button that opens the modal for result of stratergy
    var resA = document.getElementById("result01");
    var resB = document.getElementById("result02");
    var resC = document.getElementById("result03");
    var resD = document.getElementById("result04");



    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // Get the <span> element that closes the modal FOR RESULT
    var spanA = document.getElementsByClassName("closeA")[0];

    // When the user clicks the button, open the modal
    btno.onclick = function () {
        modal.style.display = "block";
    }
    btnp.onclick = function () {
        modal.style.display = "block";
    }
    btnq.onclick = function () {
        modal.style.display = "block";
    }
    btnr.onclick = function () {
        modal.style.display = "block";
    }
    resA.onclick = function () {
        modalA.style.display = "block";
    }
    resB.onclick = function () {
        modalA.style.display = "block";
    }
    resC.onclick = function () {
        modalA.style.display = "block";
    }
    resD.onclick = function () {
        modalA.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
    spanA.onclick = function () {
        modalA.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        if (event.target == modalA) {
            modal.style.display = "none";
        }
    }

</script>


</body>
</html>