<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Wealth View</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
<!--[if lt IE 9]> <script src="/static/js/html5shiv.js"></script> 
<script src="/static/js/respond.min.js"></script> <![endif]-->
        <!-- Place favicon.ico in the root directory -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/owl.carousel.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
        <link rel="stylesheet" href="/static/css/style.css">

    </head>
<body >
<!-- start preloader -->
        <div id="loader-wrapper">
            <div class="logo"></div>
            <div id="loader">
            </div>
        </div>
        <!-- end preloader -->
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- Start Header Section -->
<header class="main_menu_sec navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-12">
<div class="lft_hd">
<!--<a href="index.html"><img src="img/logo.png" alt=""/></a>-->
</div>
</div> 
<div class="col-lg-9 col-md-9 col-sm-12">
<div class="rgt_hd">
<div class="main_menu">
<nav id="nav_menu">
<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<div id="navbar">
<ul>
<li><a class="page-scroll" href="index.html">Home</a></li> 
<li><a href="#">Screener <i class="fa fa-angle-down"></i></a>
<ul>
<li><a class="page-scroll" href="/screener/fundamentalData/AAPL/">Fundamental Data</a></li>
<li><a class="page-scroll" href="/screener/technicalData/AAPL/">Technical Data</a></li>
<li><a class="page-scroll" href="#lts_sec">All</a></li>
</ul>
</li>

<li><a href="#">Static Page<i class="fa fa-angle-down"></i></a>
<ul>
<li><a class="page-scroll" href="/homepage/summary/">Summary</a></li>
<li><a class="page-scroll" href="/homepage/actualvstargetallocation/">Actualvstargetallocation</a></li>
<li><a class="page-scroll" href="/homepage/allocations/">Allocations</a></li>
</ul>
</li> 
<li><a class="page-scroll" href="/charts/maps/">Map</a></li>
<li><a class="page-scroll" href="/charts/graphs/">Graph</a></li>
<li><a class="page-scroll" href="indices/nift100Indices/RAIN.NS/2017/1/1/2018/5/5/">Indices</a></li>
<li><a class="page-scroll" href="#protfolio_sec">Mutual Funds</a></li>
<li><a class="page-scroll" href="#ctn_sec">Contact Us</a></li>
</ul>
</div> 
</nav> 
</div> 
</div>
</div> 
</div> 
</div> 
</header>
<!-- End Header Section -->

<!-- start blog Section -->
<section id="blg_sec" style="background-color: #E6E6E6;">  
<div class="container">
<div class="row">
<div class="title_sec">
<h1>Portfolios</h1>
</div> 
<div class="col-lg-8 col-md-8 col-sm-8 ">
<div class="sngl_blg" style="background-color: #ffff;border: 1px solid black;">
<h2> <img style="height: 42px;width: 50px;margin-top: -6px;margin-left: 10px;" src="/static/img/rupee (2).png"> <span style="margin-left: 14px;color: #224B59;">Current Assets </span> <span style="font-size: 30px;">&nbsp; &nbsp; IND &#8377 2,00,000</span> </h2>
<div>
<table style="background-color: #E6E6E6;">
<tbody>
<tr>
<td>
<table style="border-spacing:2px; border-color:white">
<tbody>
<tr>
<td width="175"><strong style="margin-left: 7px;">My portfolio</strong></td>
<td width="175"><strong>Type</strong></td>
<td width="175"><strong>Current assets</strong></td>
<td width="250"><strong>Unrealised P &amp; S(&#8377)</strong></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr style="background-color: #f4f4f4;">
<td width="175"><span style="margin-left: 7px;">123411</span></td>
<td width="175">Managed</td>
<td width="175">1,20,000</td>
<td width="175" style="color: green;">+4,10,000.00</td>
</tr>
<tr>
<td width="175"><span style="margin-left: 7px;">123422</span></td>
<td width="175">Unmanaged</td>
<td width="175">80,000</td>
<td width="175" style="color: green;">+3,95,000.00</td>
</tr>
<tr style="background-color: #f4f4f4;">
<td width="175"></td>
<td width="175">Total</td>
<td width="175">2,00,000</td>
<td width="250" style="color: green;">+5,00,000.00</td>
</tr>
</tbody>
</table>
</div>
<!--<div class="post_info">
<div class="post_intro">
<h2>there are a few things</h2>
<i class="fa fa-picture-o"></i>
</div>
<ul> 
<li>Oct 23 2015 //</li>
<li>Oct 23 2015 //</li>
<li>1 comment</li>
</ul>
</div>-->

</div> 

</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="sidebar">
<div class="search_widget">
<input id="sr_bx" type="text" placeholder="Search...."/>
</div> 
<div class="widget">
<h2>categories</h2>
<div class="title_br"></div>

</div>
<div style="background-color: #ffff;">
<table>
<tbody>
<tr>
<td width="170"><img style="height: 37px;" src="/static/img/line-chart.png"><h2 style="color: #224B59;margin-top:0px !important">Indices</h2></td>
<td width="170"><h2 style="margin-left: 91px;">Add</h2> <img style="height: 25px;margin-left: 137px;margin-top: -60px;" src="/static/img/add.png"></td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr style="border: solid #f4f4f4;border-width: 0px 0px 2px 0px;">
<td width="356"><b>Dow Jones</b></td>
<td width="356"><b>11063</b></td>
<td width="356" style="background-color: green;text-align:center;"><b style="color: white;">+110 &nbsp; &nbsp; +1.21%</b></td>
</tr>
<tr style="border: solid #f4f4f4;border-width: 0px 0px 2px 0px;">
<td width="356"><b>Nasdaq</b></td>
<td width="356"><b>9994</b></td>
<td width="356" style="background-color: green;text-align:center"><b style="color: white;"><b>+25 &nbsp; &nbsp;+0.51% </b></td>
</tr>
<tr style="border: solid #f4f4f4;border-width: 0px 0px 2px 0px;">
<td width="356"><b>S&amp;P 500</b></td>
<td width="356"><b>5678</b></td>
<td width="356" style="background-color: green;text-align:center"> <b style="color: white;"><b> -33 &nbsp; &nbsp; -0.50%</b></td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td width="170" style="background-color:#FAFAD2;border: solid #f4f4f4;border-width: 0px 2px 2px 0px;"><b style="margin-left: 47px;">Indices</b></td>
<td width="170" style="border: solid #f4f4f4;border-width: 0px 0px 2px 0px;"><b style="margin-left: 27px;">Excahange</b><b> rates</b></td>
</tr>
</tbody>
</table>
</div>
</div>
</div> 
</div>
</div>
</section>
<!-- start Blog Section -->

<!-- start located map Section -->
<div>
<table>
<tbody>
<tr>
<td width="300"><img style="margin-left: 32px;" src="/static/img/barometer.png"><b style="margin-left: 9px;color: #224B59;">Performance</b></td>
<td width="219"><b>Year 2016</b></td>
<td width="94"><b>5d</b></td>
<td width="101"><b>1m</b></td>
<td width="109"><b>3m</b></td>
<td width="100"><b>6m</b></td>
<td width="82"><b>1y</b></td>
<td width="85"><b>2y</b></td>
<td width="62"><b>5y</b></td>
<td width="359"><b>max</b></td>
<td width="356"><b>Dow Jones</b></td>
<td width="356"><b>Nasdaq</b></td>
<td width="356"><b>S&amp;P 500</b></td>
</tr>
</tbody>
</table>
<br>
<br>
</div>



<!--<section id="ltd_map_sec">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="map">
<h1>located THE MAP</h1><a href="#slidingDiv" class="show_hide" rel="#slidingDiv"><i class="fa fa-angle-up"></i></a>
<div id="slidingDiv">

<div class="map_area">
<div id="googleMap" style="width:100%;height:300px;"></div>
</div>

</div> 
</div>
</div>
</div>
</div>
</section>-->

<!-- End located map  Section -->
<!-- start footer Section -->
<footer id="ft_sec" style="background-color:#224B59">
<div class="container" style="background-color:#f5f5f5;padding-top: 30px;">
<div class="row">
<div class="col-lg-12" style="background-color:#f5f5f5">
<div class="ft">
<ul>
<li><a href=""><i class="fa fa-facebook"></i></a></li>
<li><a href=""><i class="fa fa-twitter"></i></a></li>
<li><a href=""><i class="fa fa-dribbble"></i></a></li>
<li><a href=""><i class="fa fa-rss"></i></a></li>
<li><a href=""><i class="fa fa-flickr"></i></a></li>
<li><a href=""><i class="fa fa-pinterest"></i></a></li>
<li><a href=""><i class="fa fa-linkedin"></i></a></li>
<li><a href=""><i class="fa fa-skype"></i></a></li>
<li><a href=""><i class="fa fa-google"></i></a></li>
</ul> 
</div>
<ul class="copy_right">
<li>@WealthView</li>

</ul> 
</div> 
</div>
</div>
</footer>
<!-- End footer Section -->

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>

<script src="/static/js/isotope.pkgd.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/showHide.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/scrolling-nav.js"></script>
<script src="/static/js/plugins.js"></script>
<!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var mapOptions = {
zoom: 14,
scrollwheel: false,
center: new google.maps.LatLng(41.092586000000000000, -75.592688599999970000)
  };
  var map = new google.maps.Map(document.getElementById('googleMap'),
  mapOptions);
  var marker = new google.maps.Marker({
position: map.getCenter(),
animation:google.maps.Animation.BOUNCE,
icon: 'img/map-marker.png',
map: map
  });
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script src="/static/js/main.js"></script>

<script src="showHide.js" type="text/javascript"></script>

<script type="text/javascript">

$(document).ready(function(){


   $('.show_hide').showHide({  
speed: 1000,  // speed you want the toggle to happen
easing: '',  // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
changeText: 1, // if you dont want the button text to change, set this to 0
showText: 'View',// the button text to show when a div is closed
hideText: 'Close' // the button text to show when a div is open
 
}); 


});

</script>
<script>
    jQuery(document).ready(function( $ ) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>

<script>

  //Hide Overflow of Body on DOM Ready //
$(document).ready(function(){
    $("body").css("overflow", "hidden");
});

// Show Overflow of Body when Everything has Loaded 
$(window).load(function(){
    $("body").css("overflow", "visible");        
    var nice=$('html').niceScroll({
cursorborder:"5",
cursorcolor:"#00AFF0",
cursorwidth:"3px",
boxzoom:true, 
autohidemode:true
});

});
</script>



    </body>
</html>

